// Mobile
@media only screen and (max-width: 450px) {}

// Tablet
@media only screen and (min-width: 450px) and (max-width: 1023px) {}

//Desktop
@media only screen and (min-width: 1024px) {

    .modal-container {
        position: initial;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(22, 22, 22);
        color: lime;
        border: 2px solid lime;
        border-radius: 20px;

        &>h1 {
            padding: 1em;
            width: 100%;
            border-bottom: 1px solid lime;
        }

        .form-container {
            padding: 1.5em;
            height: max-content;
            width: 500px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2em;

            .instructions-container {
                display: flex;
                flex-direction: column;
                gap: 1em;

                &>h2 {
                    text-transform: uppercase;
                    text-align: center;
                }

                .opcode-container {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 0.5em;

                    .opcode-button {
                        min-width: 75px;
                        flex: 1;
                        font-size: 1em;
                        text-transform: uppercase;
                    }
                }

                .address-container {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 0.5em;
                    
                    .address-button {
                        min-width: 45px;
                        flex: 1;
                        font-size: 1em;
                        text-transform: uppercase;
                    }
                }

            }

            .input-field {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0.5em;

                &>span {
                    font-size: 1.5em;
                    text-transform: uppercase;
                }

                &>input {
                    height: 100%;
                    width: 226px;
                    padding: 0.5em;
                    font-size: 2em;
                    letter-spacing: 0.15em;
                    color: lime;
                    background-color: transparent;
                    border: 1px solid lime;
                    border-radius: 5px;
                }
            }

            button {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.4em;
                padding: 0.5em;
                font-size: 1.5em;
                color: lime;
                background-color: rgb(22, 22, 22);
                border: 1px solid lime;
                border-radius: 5px;

                &:hover {
                    cursor: pointer;
                    background: linear-gradient(#fff2, #fff2);
                }
            }
        }
    }
}