* {
  font-family: "Kode Mono", monospace;
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: 0;
  border: 0px solid white;
  box-sizing: border-box;
}

// Mobile
@media only screen and (max-width: 450px) {
  body {
    background: url(assets/bg-mobile.svg);
    background-size: auto;
    background-repeat: repeat;
    background-color: rgb(24, 23, 23);

    header {
      h1 {
        font-size: 1.6em;
        text-transform: uppercase;
        color: lime;
        padding: 0.5em;
      }
    }

    .container {
      position: relative;
      height: 100%;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5em;
      padding: 1em;
      background-color: transparent;
    }
  }
}

// Tablet
@media only screen and (min-width: 450px) and (max-width: 1023px) {
  body {
    background: url(assets/bg-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(24, 23, 23);

    #root {
      height: 100vh;
    }

    header {

      h1 {
        font-size: 2em;
        text-transform: uppercase;
        color: lime;
        padding: 0.1em 0.6em;
      }
    }

    .container {
      height: max-content;
      min-width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      gap: 0.5em;
      padding: 1em;
      background-color: transparent;
    }
  }
}

//Desktop
@media only screen and (min-width: 1024px) {
  body {
    background: url(assets/bg-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(24, 23, 23);

    #root {
      height: 100vh;
    }

    header {

      h1 {
        font-size: 2.2em;
        text-transform: uppercase;
        color: lime;
        padding: 0.1em 0.6em;
      }
    }

    .container {
      height: max-content;
      min-width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      gap: 0.5em;
      padding: 1em;
      background-color: transparent;
    }
  }
}

@keyframes tremor {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(3deg);
  }

  30% {
    transform: rotate(-3deg);
  }

  40% {
    transform: rotate(3deg);
  }

  50% {
    transform: rotate(-3deg);
  }

  60% {
    transform: rotate(3deg);
  }

  70% {
    transform: rotate(-3deg);
  }

  80% {
    transform: rotate(3deg);
  }

  90% {
    transform: rotate(-3deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.focus {
  transform: scale(1.02);
  animation: tremor 0.5s linear;
  box-shadow: 0 0 10px 10px rgba(0, 255, 0, 0.3);
  border: 2px solid lime;
}

@keyframes rotation360 {
  0% {
    transform: rotate(0deg) scale(0.2);
  }

  50% {
    transform: rotate(180deg) scale(0.5);
  }

  100% {
    transform: rotate(360deg);
  }
}

.focus-alu {
  animation: rotation360 0.6s linear;
}



.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

  .modal {
    position: initial;
    height: 300px;
    width: 300px;

    color: black;
    background-color: white;

    form {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1em;

      
      
      input {
        border: 2px solid black;
      }
    }
  }
}